Source/iHRM-Win/iHRM.Win/Web References/pw.vnn.lic/versionsv.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAppLastVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appcode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppLastVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppLastVersionResult" type="tns:VersionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VersionInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="vName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="sql" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAppUpdate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="appcode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAppUpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAppUpdateResult" type="tns:VersionInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="appCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="desc" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAppLastVersionSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppLastVersion" />
  </wsdl:message>
  <wsdl:message name="GetAppLastVersionSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="GetAppUpdateSoapIn">
    <wsdl:part name="parameters" element="tns:GetAppUpdate" />
  </wsdl:message>
  <wsdl:message name="GetAppUpdateSoapOut">
    <wsdl:part name="parameters" element="tns:GetAppUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UploadVersionSoapIn">
    <wsdl:part name="parameters" element="tns:UploadVersion" />
  </wsdl:message>
  <wsdl:message name="UploadVersionSoapOut">
    <wsdl:part name="parameters" element="tns:UploadVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="versionsvSoap">
    <wsdl:operation name="GetAppLastVersion">
      <wsdl:input message="tns:GetAppLastVersionSoapIn" />
      <wsdl:output message="tns:GetAppLastVersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAppUpdate">
      <wsdl:input message="tns:GetAppUpdateSoapIn" />
      <wsdl:output message="tns:GetAppUpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadVersion">
      <wsdl:input message="tns:UploadVersionSoapIn" />
      <wsdl:output message="tns:UploadVersionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="versionsvSoap" type="tns:versionsvSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppLastVersion">
      <soap:operation soapAction="http://tempuri.org/GetAppLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUpdate">
      <soap:operation soapAction="http://tempuri.org/GetAppUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadVersion">
      <soap:operation soapAction="http://tempuri.org/UploadVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="versionsvSoap12" type="tns:versionsvSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAppLastVersion">
      <soap12:operation soapAction="http://tempuri.org/GetAppLastVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAppUpdate">
      <soap12:operation soapAction="http://tempuri.org/GetAppUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadVersion">
      <soap12:operation soapAction="http://tempuri.org/UploadVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="versionsv">
    <wsdl:port name="versionsvSoap" binding="tns:versionsvSoap">
      <soap:address location="http://61.28.231.43:8089/versionsv.asmx" />
    </wsdl:port>
    <wsdl:port name="versionsvSoap12" binding="tns:versionsvSoap12">
      <soap12:address location="http://61.28.231.43:8089/versionsv.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>